
.container{
  display:flex;
  flex-direction: column;
}
.button-container{
  
  display: flex;
  justify-content: center;

}
.button-container button{
  padding: 12px 35px;
  background:transparent;
  border-radius: 8px;
  width:130px;
}
.button-container button:focus {
  outline:0;
}

.btn-start{
  font-size: large;
  font-weight: 400;
  color:rgba(20, 192, 112, 0.795);
  border:3px solid rgba(20, 192, 112, 0.795);
  margin:5px;
  cursor: pointer;
}
.btn-start:hover{
  background: rgba(20, 192, 112, 0.795);
  color:white;
  /* border:3px solid white; */
}
.btn-reset{
  font-size: large;
  font-weight: 400;
  color:rgba(64, 98, 209, 0.726);
  border:3px solid rgba(64, 98, 209, 0.726);
  margin :5px;
  cursor: pointer;
}
.btn-reset:hover{
  background: rgba(64, 98, 209, 0.726);
  color:white;
  /* border:3px solid white; */
}
.btn-pause{
  font-size: large;
  font-weight: 400;
  color:rgba(209, 81, 64, 0.726);
  border:3px solid rgba(209, 81, 64, 0.726);
  margin :5px;
  cursor: pointer;
}
.btn-pause:hover{
  background: rgba(209, 81, 64, 0.726);
  color:white;
  /* border:3px solid white; */
}


.timer-container{
  margin: 5% 20%;
  text-align: center;
  font-size: xx-large;
  display: flex;
  justify-content: center;
}
.timer-container p {
  margin: 15px;
  color:rgba(0, 0, 0, 0.568) ;
  font-size:15px;
 
}
.timer-container h1{
 
  margin: 15px;
  font-weight: 400;
  
 
}
